### A STUDY ON COVID-19 CASES BY MUNICIPALITY IN THE NETHERLANDS ON THE REAL TIME RIVM.NL DATABASE (23/III)

In [1]:
import pandas as pd
import numpy as np
import time
import requests
from lxml import html

In [2]:
RIVM_URL = "https://www.rivm.nl/coronavirus-kaart-van-nederland"
url = requests.get(RIVM_URL)
web = html.fromstring(url.content)
data = web.get_element_by_id("csvData").text
data = data.lstrip()

dataset = data.split("\n")[1].split(";")[0]

with open("dataset.csv", "w", encoding="utf-8") as f:
    f.write(data)

In [3]:
df=pd.read_csv("dataset.csv", sep=";", header=None, index_col=None)
df=df.drop(0)
df=df.drop(1)
headers=["Gemnr","Municipality","Case_Number","Population","1/100.000",]
df.columns=headers
df=df.drop(df.columns[0], axis=1)
df=df.drop(df.columns[3], axis=1)
df=df.drop(df.columns[2], axis=1)

df.head()

       Municipality Case_Number
2     's-Gravenhage          53
3  's-Hertogenbosch          60
4       Aa en Hunze           1
5          Aalsmeer           8
6            Aalten           1

In [4]:
df.tail()

        Municipality Case_Number
352          Zundert           9
353          Zutphen           6
354  Zwartewaterland          19
355      Zwijndrecht           6
356           Zwolle          35

In [ ]:
def matching():
    
    while True:    
        
        Den_Bosch_other="'s-Hertogenbosch" 
        Den_Bosch="Den Bosch"
        
        Den_Haag_other="'s-Gravenhage"
        Den_Haag="Den Haag"
    
        input_loc=input("Pls, Write your municipality?   ")  
        
        if input_loc == Den_Bosch:
            search=df.Case_Number[df.Municipality==str(Den_Bosch_other)]
            time.sleep(1)
            print(f"The latest total case number in {input_loc} is  {search.to_string(header=False, index=False)}")
                
        elif input_loc == Den_Haag:
        
            search=df.Case_Number[df.Municipality==str(Den_Haag_other)]
            time.sleep(1)
            print(f"The latest total case number in {input_loc} is  {search.to_string(header=False, index=False)}")

        else:
            search=df.Case_Number[df.Municipality==str(input_loc)]
            time.sleep(1)
            print(f"The latest total case number in {input_loc} is  {search.to_string(header=False, index=False)}")
            matching()
        
matching()