### A STUDY ON COVID-19 CASES BY MUNICIPALITY IN THE NETHERLANDS ON RIVM.NL DATABASE (23/III)

In [23]:
import pandas as pd
import numpy as np
import time

In [24]:
df=pd.read_csv("Covid_Mun_NL.csv", sep=";", header=None, index_col=None)
df=df.drop(0)
headers=["Place","1/100.000","Cases"]
df.columns=headers
df=df.drop(df.columns[1], axis=1)
df.head()

              Place Cases
1     's-Gravenhage    47
2  's-Hertogenbosch    55
3       Aa en Hunze     1
4          Aalsmeer     7
5            Aalten     1

In [ ]:
def matching():
    
    while True:    
        
        Den_Bosch_other="'s-Hertogenbosch" 
        Den_Bosch="Den Bosch"
        
        Den_Haag_other="'s-Gravenhage"
        Den_Haag="Den Haag"
    
        input_loc=input("Pls, Write your municipality?   ")  
        
        if input_loc == Den_Bosch:
            search=df.Cases[df.Place==str(Den_Bosch_other)]
            time.sleep(1)
            print(f"The latest total case number is {search.to_string(header=False, index=False)} in {input_loc}")
                
        elif input_loc == Den_Haag:
        
            search=df.Cases[df.Place==str(Den_Haag_other)]
            time.sleep(1)
            print(f"The latest total case number is {search.to_string(header=False, index=False)} in {input_loc}")

        else:
            search=df.Cases[df.Place==str(input_loc)]
            time.sleep(1)
            print(f"The latest total case number is {search.to_string(header=False, index=False)} in {input_loc}")
            matching()
        
matching()

Pls, Write your municipality?   Cranendonck
The latest total case number is  13 in Cranendonck